//- -------------- Images ---------------- -//
//- --------------------------------------- -//
mixin basicImage(src, alt, cls)
    img.generic__image(src=src, alt=alt, class=cls )


//- -------------- Buttons ---------------- -//
//- --------------------------------------- -//
mixin basicLink(text, url, newclass, newTab)
    a.generic__link(class=newclass, href=url || '#', target=newTab || '_self')&attributes(attributes) #{text}
    
//- -------------- LISTS ---------------- -//
//- --------------------------------------- -//
mixin basicList(classlist, text, url, newclass, newTab)
    li.basic__list(class=classlist)
        a.generic__link(class=newclass, href=url || '#', target=newTab || '_self')&attributes(attributes) !{text}  


//- ------------ SOCIAL NAV ----------- -//
//- ----------------------------------- -//
mixin socialNav(type)
    ul.social__nav(class='social__nav__#{type}')
        - if (type === 'cl')
            li.social__nav__item siguenos en 
        li.social__nav__item
            a.social__nav__link(href="#", class='icon-twitter-#{type}') #[span Twitter]
        li.social__nav__item
            a.social__nav__link(href="#", class='icon-face-#{type}') #[span Facebook]
        li.social__nav__item
            a.social__nav__link(href="#", class='icon-google-#{type}') #[span Gmail]
        li.social__nav__item
            a.social__nav__link(href="#", class='icon-mail-#{type}') #[span email]